/* Footer.css */

.footer-container {
  background-color: #1a1a2e; /* Azul escuro suave */
  color: #e0e0e0; /* Cinza claro para o texto */
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
  flex-direction: column;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  margin-bottom: 20px;
}

.home-footer, .footer-bottom {
  text-align: center;
  margin: 10px 0;
}

.footer-section h3 {
  font-size: 1.2rem;
  margin-bottom: 15px;
  color: #f2a365; /* Laranja suave */
}

.footer-section p {
  font-size: 0.9rem;
  line-height: 1.5;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: #f2a365; /* Laranja suave */
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-section ul li a:hover {
  color: #e0e0e0; /* Cinza claro ao passar o mouse */
}

.social-media .social-icons {
  display: flex;
  gap: 10px;
}

.social-media .social-icons a {
  color: #f2a365; /* Cor laranja suave */
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.social-media .social-icons a:hover {
  color: #e94560; /* Vermelho rosado para hover */
}

.footer-bottom {
  border-top: 1px solid #3a3a52; /* Azul acinzentado */
  padding-top: 10px;
  font-size: 0.85rem;
  color: #b0b0b0; /* Cinza médio */
}
